@import url('https://fonts.googleapis.com/css?family=Bellefair|Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/forest.jpg');
  background-size: cover;
  background-repeat: none;
}

h1, h2, h3, h4, a {
  font-family: 'Bellefair', serif;
}

a {
  margin: 1rem;
  color: green;
  text-decoration: none;
}
